apiVersion: v1
kind: Service
metadata:
  name: leader
  namespace: graph-dist
  labels:
    app: graph-leader
spec:
  selector:
    app: graph-leader
  type: LoadBalancer
  ports:
    - port: 9090
      targetPort: 9090
      protocol: TCP
      name: grpc
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
